@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background-color: #fff;
  min-height: 100vh;

}

.container{
  max-width: 1250px;
  width: 95vw;
  margin: 0 auto;
}

.layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(10px); /* Adjust the blur radius as needed */

}


.model {
  display: block;
}

.grid-container{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 10px;
}